// Theme Specific Styles

// Full page Layout
html {
  height: 100%;

  body {
    height: auto !important;
    min-height: 100%;
    overflow-x: initial;

    #app {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1400px) {
        .container.wide {
          width: 1400px;
          max-width: 100%;
        }
      }

      .btn {
        text-transform: uppercase;
        cursor: pointer;
      }

      .btn-rounded {
        border-radius:24px;
      }

      .btn.btn-primary.btn-outlined {
        background-color: transparent;
        border-radius: 2rem;
        padding: 1rem 1.5rem .9rem;
        color: #0275d8;
      }
      .btn.btn-primary.btn-reversed {
        border-color: #FFF;
        color: #FFF;
      }

      h1 {
        font-family: $font-family-serif;
      }

      a.page-link[disabled] {
        color: #ccc;
      }

      select.form-control.custom-select {
        padding: 1.25rem 1.75rem 1rem .75rem;
        height: calc(3.5rem + 2px) !important;
      }

      @media screen and (min-width: map-get($grid-breakpoints, md)) {
        .flex-order-md-first {
          order:1;
        }
        .flex-order-md-second {
          order:2;
        }
        .flex-order-md-third {
          order:3;
        }
      }

    }
  }
}

//Sticky Header
.sticky-header {
  width: 100%;
  position: relative;
  z-index: 100;

  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    position: fixed;
  }

  .navbar-brand {
    margin-top:.25rem;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      margin-top: -1.25rem;
    }

    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
      padding:1rem;
    }

    img {
      height: 90px;
      max-width: 100%;

      @media screen and (min-width: map-get($grid-breakpoints, md)) {
        height: 115px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        height: 132px;
      }

    }

  }

  * {
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    transition: all linear .5s;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .sticky-header.smaller {
    #top {
      background-color: #FFF;
      box-shadow: 0 3px 5px rgba(0,0,0,.3);
    }
    .navbar-brand {
      img {
        height: 75px;
      }
    }
  }
}

#top-top {
  background-color:#d85035;
  display: flex;
  justify-content: flex-end;

  .nav-item {
    margin:0;
    padding:.25rem .5rem;
    display: inline-flex;
    background-color: #e75f44;
    color: #FFF;

    a {
      color: #FFF;
      display: inline-block;
      padding:0 .25rem;
    }
  }

  .user-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .num-saved-props {
      color: #FFF;
      font-size: 1.4em;
      line-height: 1em;
      padding:0 .25rem;
    }
    .saved-props-label {
      font-size: .7em;
      color: #FFF;
      max-width: 80px;
      line-height: 1em;
    }
    a.nav-item {
      color:#FFF;
    }
  }

}

#top {
  background-color: #FFF;

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    background-color: transparent;
  }

  .navbar-menu {

  }
}

#mid {
  position: relative;

  .entry-content {
    h2, h3 {
      margin-top:2.5rem;
    }
  }

  .section-wrapper {
    clear: both;

    .section-title {
      color: rgba(255,255,255,.5);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      @media screen and (min-width: map-get($grid-breakpoints, md)) {
        font-size: 2.5em;
      }

    }

    .section-title.line-right::after,
    .section-title.line-left::before {
      content: "";
      border-bottom: 3px solid rgba(255,255,255,.5);
      width: 100%;
      display: block;
      margin-right: 1rem;
      position: relative;
    }

    .section-title.line-right::after {
      margin-right: 0;
      margin-left: 1rem;
    }

    .section-button {
      padding: 3rem 0;
    }
  }

  .content.section {
    padding: 2rem 0;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding: 6rem 0;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      padding: 6rem 0;
    }

  }

  .slider {
    height: 200px;
    background-color: #7ccdf2;
    overflow: hidden;

    .carousel-caption, .carousel-control-prev, .carousel-control-next, .carousel-indicators {
      display: none;
    }
  }

  .slider, .carousel-item {
    height: 210px;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      height:300px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      height:750px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      height:800px;
    }
  }

  .tagline {
    position: absolute;
    width:100%;
    text-align: center;
    z-index: 2;
    padding:2rem;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      margin-top: 12rem;
    }
  }

  .quick-search {

    .quick-search-container {
      padding: 1rem 0;
      background-color: #d85035;
      border-top: 1px solid #FFF;

      @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        padding: .1rem 0 0;
        background-color: transparent;
        border: none;
      }

      form {
        max-width: 775px;
        margin: auto;

        .row {
          margin: 0 -8px;
          .col-md-5, .col-md-7, .col-6, .col, .col-md-2 {
            padding: 0 8px;
          }
        }

        @media screen and (min-width: map-get($grid-breakpoints, lg)) {
          margin: -20rem auto 0;
        }

        .btn-rounded {
          height: 60px;
          border-radius: 30px;
        }
      }
    }
  }

  form {
    .select2-container.select2-container--bootstrap {
      border: 1px solid #196AAB;
      padding: 0;
      background-color: #FFF;
      height: 60px;
      width:100% !important;

      .select2-selection--single {
        height: 58px;

        .select2-selection__rendered {
          display: block;
          padding: 1rem 30px 1rem 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          background: url('/wp-content/themes/kstrap/img/down-arrow.png') 94% 54% no-repeat;
        }
      }
    }
  }

  .search-control {
    //select2 adds to DOM dynamically
    .select2-dropdown {
      border: 1px solid #1a4e94;
      border-radius: 0;
    }

    .select2-dropdown.select2-dropdown--below {
      margin-top: -55px;

      .select2-search--dropdown {
        display: block;
        padding: 0;

        .select2-search__field {
          border: none;
          border-bottom: 1px solid #ddd;
          padding: 1rem;
          margin-top: -4px;
        }
        .select2-search__field:focus {
          box-shadow: none;
        }
      }
    }

    .select2-dropdown.select2-dropdown--above {

      .select2-search--dropdown {
        display: block;
        padding: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: -57px;

        .select2-search__field {
          border: none;
          border-top: 1px solid #ddd;
          padding: 1rem;
        }
        .select2-search__field:focus {
          box-shadow: none;
        }
      }
    }
  }

  .dotted-border {
    background-color: #FFF;
    padding:.5rem 0;
    height:3px;
    width:100%;
    background-image: linear-gradient(to right, #f3e933 33%, rgba(255,255,255,0) 0%);
    background-position: center;
    background-size: 8px 3px;
    background-repeat: repeat-x;
  }

  .feature-buttons {
    padding: 2rem 0 0;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding: 4rem 0 0;
    }

    .button {
      margin:1rem 0;
      border: 2px solid #196AAB;
      border-radius: 50%;
      overflow: hidden;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;

      .button-content {
        text-align: center;
        text-transform: uppercase;
        padding: 33% 0;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;

        h2 {
          font-size: .9em;
          color: #FFF;
          font-weight: 400;
          margin:auto;

          @media screen and (min-width: 375px) {
            font-size: 1em;
          }
          @media screen and (min-width: 414px) {
            font-size: 1.2em;
            max-width: 200px;
          }
          @media screen and (min-width: 768px) {
            font-size: 2em;
            max-width: 90%;
          }
          @media screen and (min-width: 1024px) {
            font-size: 1.5em;
          }
          @media screen and (min-width: 1200px) {
            font-size: 1.7em;
          }
        }


        .wave {
          padding: .5rem 0;
          margin: auto;
          max-width: 76px;

          path {
            fill: #FFF;
            opacity:.6;
          }
        }

      }

      .button-overlay::after {
        content: "";
        -webkit-transition: background-color .5s;
        -moz-transition: background-color .5s;
        -ms-transition: background-color .5s;
        -o-transition: background-color .5s;
        transition: background-color .5s;
        background-color: rgba(0,0,0,.5);
        position: relative;
        z-index: 1;
        height: 100vh;
        width: 100vh;
        display: block;
      }

      .button-link {
        position: absolute;
        border-radius:50%;
        z-index: 3;
        top:0;
        left:0;
        right:0;
        bottom:0;
      }

    }

    .button:hover {
      .button-overlay::after {
        background-color: rgba(0,0,0,.2);
      }
    }

    .button.luxury-beachfront {
      background-image: url('/wp-content/themes/kstrap/img/luxury-button.jpg');
    }
    .button.condos {
      background-image: url('/wp-content/themes/kstrap/img/condos-button.jpg');
    }
    .button.commercial {
      background-image: url('/wp-content/themes/kstrap/img/commercial-button.jpg');
    }
    .button.lots-land {
      background-image: url('/wp-content/themes/kstrap/img/lots-button.jpg');
    }

    .umbrella {
      max-width: 90px;
      margin: 2rem auto -1rem;

      path {
        fill: #196CAE;
      }
    }
  }

  .featured-properties {
    background: url('/wp-content/themes/kstrap/img/blue-wave.jpg') center;
    padding: 2rem 1rem 0;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding: 4rem 1rem 2rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      padding: 8rem 1rem 6rem;
    }

  }

  .home-page-content {
    padding: 2rem 1rem 0;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding: 4rem 1rem 2rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      padding: 6rem 1rem 6rem;
    }

    h1 {
      color: #d85035;
    }
  }

  .orange-section {
    background-color: #d85035;
    padding: 2rem 1rem 0;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding: 4rem 1rem 2rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      padding: 5rem 1rem 4rem;
    }

    .hot-property-alerts {

      p {
        margin: 2rem 0;
        color: #FFF;
      }
    }


  }

  .support-mast {
    padding-top:1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    color: #FFF;
    background-color: #7ccdf2;
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      padding-top: 12rem;
    }

  }

  .mini-agent {
    height:100%;

    .card-image {
      overflow: hidden;
      max-height: 363px;

      img {
        width: auto;
        width:100%;
        min-height:100%;
      }
    }

    .card-title {
      color: #e75f44;
    }

    .card-subtitle {
      color: #2d2d2d;
    }

    .contact-info {
      padding: 1rem 0 0;
      margin: 0;
      list-style-type: none;

      li {
        color: #e75f44;

        .fa {
          margin-right: .75rem;
        }

        a {
          color: #123f7b;
        }
      }
    }

    .card-footer {
      justify-content: space-between;
      display: flex;
    }
  }

  .agent-profile {

    .social.agent {
      margin: 1rem 0 0;

      svg {
        width: 35px;
        margin: 0 .25rem 0;
      }
    }

    #mylistings {
      padding-top:2rem;
    }
  }

  .full-listing {
    padding: 0;

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      padding: 0 6rem;
    }

    div#req-info-btn {
      margin: 1rem 0 .5rem;

      @media screen and (min-width: map-get($grid-breakpoints, md)) {
        margin:0;
      }
    }

    .listing-slider {

      .listing-photo {
        padding: 2px!important;
      }
    }

    .carousel-item.active,
    .carousel-item {
      display: block;
      margin-bottom: .5rem;
      transform: none !important;
    }
    .carousel-control {
      display: none;
      z-index:20;
    }

    .carousel-indicators {
      position: relative;
      right: 0;
      background: #d85035;
      bottom: 0;
      left: 0;
      z-index: 15;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .carousel-indicators li {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      max-width: 12px;
      border-radius: 50%;
      height: 12px;
      margin: 8px 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255,255,255,.5);
    }

    .carousel-caption {
      display: none;
      position: relative;
      left: 0 !important;
      right: 0 !important;
      margin: 0;
      border-radius: 0;
      padding:0;

      p {
        margin: 0;
        color: #000;
        text-shadow: none;
        padding: 5px;
        border-radius: 10px;
        font-size: .9em !important;
      }
    }

    a.left.carousel-control,
    a.right.carousel-control {
      padding: .25rem .5rem;
      position: absolute;
      z-index: 23;
      margin-top: -30px;
      width: 30px;
      color: #FFF;
    }

    a.right.carousel-control {
      right: 0;
    }

    .modal-lg {
      max-width: 98%;
      margin: 1% auto;
    }
    @media (min-width: 768px) {
      span.subhead.small {
        display: inline-block;
        margin: 0 0 0 2rem;
      }
      .carousel-item {
        display: none;
        margin-bottom: 0;
        height: auto;
        width: 100%;
      }
      .carousel-item-left,
      .carousel-item-right,
      .carousel-item.active {
        display: inline-block;
        margin-bottom: 0;
      }
      .carousel-control {
        display: block;
      }
    }
    @media (min-width: 992px) {
      .modal-lg {
        max-width: 1200px;
      }
    }

    #listing-map {
      min-height: 200px;
      height: 350px;
      position: relative;
      overflow: hidden;
      margin-top: 2.25rem;
    }
  }

}

.advanced-menu,
.search-bar {
  width: 100%;
  padding: 1rem;
}

.search-bar {
  background-color: aliceblue;
}

#advanced-menu {
  width:100%;
  display: block;
}
#advanced-menu.hidden {
  display:none;
  .input-group-addon {
    width: 200px;
  }

  .radio-box {
    padding: 0 15px 7px;
  }

  .label.input-group-addon {
    border-right: 1px solid #196AAB !important;
  }

  .col.form-check.form-check-inline {
    padding: 15px 1.5rem 10px;
    border: 1px solid #196AAB;
    border-top: 0;
    text-align: center;
  }

  .input-container {
    padding:0 0 15px;
  }

  @media screen and (min-width:768px){
    .radio-box {
      padding: 0 15px 15px;
    }

    .label.input-group-addon {
      border-right: 1px solid #196AAB !important;
    }

    .col.form-check.form-check-inline {
      padding: 0 1.5rem;
      border: 1px solid #196AAB;
      border-left: 0;
      text-align: center;
    }
  }
}

.all-testimonials {

}
.all-testimonials .testimonial,
.random-testimonial {

  .testimonial-content {
    padding: 3rem .5rem .5rem 3rem;
    font-family: $font-family-serif;
    font-size: 1.3em;
    color: #196cad;
    line-height: 1.8em;
  }

  .testimonial-author {
    text-align: right;
    padding: 0 .5rem;
    font-family: $font-family-serif;
    font-size: 1.1em;
    color: #196cad;
  }

  .open-quote {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    svg {
      max-width:50%;
      height: auto;

      path, polygon {
        fill: #8dcdff;
        opacity: .2;
      }
    }
  }
}

.all-testimonials .testimonial::after {
  content: "";
  border-bottom: 1px solid #dedede;
  width: 50%;
  display: block;
  margin: auto;
}

.all-testimonials .testimonial {
  padding: 1rem .5rem 1rem 1rem;
  margin-bottom:1rem;

  .testimonial-content {
    padding: 0 .5rem 0 70px;
  }
  .open-quote {
    svg {
      max-width:40px;

      path, polygon {
        opacity: 1;
      }
    }
  }
}

.mini-listing-container {
  margin: 1rem 0;
  background-color: #FFF;
  border-bottom: .25rem #FFF solid;
  -webkit-transition: border-bottom .5s;
  -moz-transition: border-bottom .5s;
  -ms-transition: border-bottom .5s;
  -o-transition: border-bottom .5s;
  transition: border-bottom .5s;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
  box-shadow: 0 0 5px rgba(0,0,0,.5);

  a.listing-link {
    position: absolute;
    height: 100%;
    left: 1rem;
    right: 1rem;
    z-index: 100;
  }

  .tile-section {
    p {
      margin:0;
    }
  }

  .tile-section.address {
    padding: 1rem .5rem;
    text-transform: uppercase;
    font-size: 1.1em;
  }

  .tile-section.price {
    padding: .5rem 1.5rem;
    background-color: #0e89c9;
    border-radius: 2rem;
    color: #FFF;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.7em;
    width: 255px;
    max-width: 95%;
  }

  .tile-section.attributes {
    margin-top: -1.5rem;
    padding: 2.5rem .5rem 1rem;
    background-color: #fff3f1;

    span {
      display: block;
      color: #df6e58;
    }

    .icon {
      padding:0 .5rem;

      svg {
        width: 50px;
        max-width: 100%;

        rect, polyline, polygon, path {
          fill: none;
          stroke: #df6e58;
          stroke-miterlimit: 10;
          stroke-width: 4
        }
      }
    }

    .icon-data {
      font-size: 1.2em;
    }

    .icon-label {
      font-size: .9em;
    }

  }

  .tile-section.mls {
    padding:.5rem 0 .25rem;
    color: rgba(0,0,0,.6);
  }

  .all-testimonials {
    .testimonial {

      .testimonial-content {
        padding: 3rem .5rem .5rem 3rem;
        font-family: $font-family-serif;
        font-size: 1.3em;
        color: #196cad;
        line-height: 1.8em;
      }

      .testimonial-author {
        text-align: right;
        padding: 0 .5rem;
        font-family: $font-family-serif;
        font-size: 1.1em;
        color: #196cad;
      }

      .open-quote {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;

        svg {
          max-width:100px;
          height: auto;

          path, polygon {
            fill: #8dcdff;
            opacity: .2;
          }
        }
      }
    }
  }

}

//Map listing
#map-search > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4),
#map-search > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2),
#map-search > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div {
  width: 320px !important;
  height: 427px !important;
}
//arrow
#map-search > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(3),
#map-search > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1),
#map-search > div > div > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1) {
  left: 160px !important;
  top: 429px !important;
}
#map-search {
  .gm-style {

    .gm-style-iw {
      overflow: hidden;
      width: 320px !important;
      position: absolute !important;
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;

      .mini-listing-container {
        margin:0 !important;
        img {
          max-width: 100% !important;
        }
      }
    }
    .gm-style-iw > div {
      position: relative !important;
      overflow: hidden !important;
      display: block !important;
    }
    .gm-style-iw > div > div {
      position: relative !important;
      overflow: visible !important;
      display: block !important;
    }
  }
}

.mini-listing-container:hover {
  border-bottom: .25rem #df6e58 solid;
}

.contact-map {

  #contact-map {
    height: 300px;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      height: 400px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      height: 500px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      height: 550px;
    }

  }
}

#bot {
  padding:2rem;
  background-color: #123f7b;
  position: relative;
  z-index: 1;

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    padding:3rem;
  }

  h3, a {
    color: #8dcdff;
    text-transform: uppercase;
    font-size: 20px;
  }

  h3 {
    .umbrella {
      display: inline-block;
      height:auto;
      width: 24px;
      margin-right: .25rem;
      path {
        fill: #8dcdff;
      }
    }
  }

  p {
    color:#FFF;
    margin:0;

    .address-label {
      display: inline-block;
      width:60px;
    }
  }

  .social {
    margin:1rem 0 0;
    svg {
      height: 40px;
      margin: .25rem;
      path.icon {
        fill: #123f7b !important;
      }
      path.container {
        fill: #FFF !important;
      }
    }
  }

  .footer-function-buttons,
  .office {
    padding-bottom:2rem;
  }

}

#map-search {
  height: 400px;

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    height: 500px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    height: 600px;
  }

}

#bot-bot {
  background-color: #1a4e94;

  .footer-logos {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      justify-content: flex-start;
    }

    .footer-logo {
      width: 50px;
      max-width: 100%;
      padding:.5rem .5rem 0;

      path, polygon {
        fill: rgba(0, 0, 0, .8);
        fill-rule: evenodd;
      }
    }
  }

  p, a {
    margin: 0;
    color: #061427;
  }

  p {
    font-size:.9em;
  }

  .social {
    svg {
      height: 40px;
      margin: .25rem;
      path.icon {
        fill: #123f7b !important;
      }
      path.container {
        fill: #FFF !important;
      }
    }
  }
}

.sticky-footer {
  position: relative;
  width:100%;
  bottom:0;
}

.sticky-footer.stuck {
  position: absolute;
}